services:
  init-filebrowser:
    image: filebrowser/filebrowser
    entrypoint: sh -c
    command:
      - "chown -R 1000: /database"
    restart: no
    volumes:
      - filebrowser-database:/database
  filebrowser:
    image: filebrowser/filebrowser:latest
    depends_on:
      init-filebrowser:
        condition: service_completed_successfully
    user: "1000:1000"
    volumes:
      - /filebrowser/filebrowser.db:/database/filebrowser.db
      - filebrowser-data:/srv
      - filebrowser-config:/config
      - /var/lib/docker/volumes/vs0sgcog8k4og8wkg4ggg4sk-minecraft-server-data/_data:/files/minecraft
    environment:
      - FB_DATABASE=/database/filebrowser.db
      - FB_ROOT=/files
      - FB_PORT=8081
      - FB_ADDRESS=0.0.0.0
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:8081/health"]
      interval: 15s
      timeout: 10s
      retries: 15
