services:
  filebrowser:
    image: filebrowser/filebrowser:latest
    volumes:
      - type: bind
        source: /filebrowser/filebrowser.db
        target: /database/filebrowser.db
        isDirectory: false
        content: ""
      - filebrowser-data:/srv
      - filebrowser-config:/config
      - /var/lib/docker/volumes/vs0sgcog8k4og8wkg4ggg4sk-minecraft-server-data/_data:/files/minecraft
    environment:
      - FB_DATABASE=/database/filebrowser.db
      - FB_ROOT=/files
      - FB_PORT=8081
      - FB_ADDRESS=0.0.0.0
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:8081/"]
      interval: 15s
      timeout: 10s
      retries: 15
