services:
  template-filebrowser:
    image: filebrowser/filebrowser:latest
    volumes:
      - filebrowser-data:/srv
      - filebrowser-config:/config
      - filebrowser-database:/data
      - /var/lib/docker/volumes/vs0sgcog8k4og8wkg4ggg4sk-minecraft-server-data/_data:/files/minecraft
    environment:
      - SERVICE_FQDN_FILEBROWSER_8081
      - FB_DATABASE=/data/filebrowser.db
      - FB_ROOT=/files
      - FB_PORT=8081
      - FB_ADDRESS=0.0.0.0
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:8081"]
      interval: 15s
      timeout: 10s
      retries: 15
